@model PAIProjektAgain.Models.Order

<h1>Dziękujemy za zakup!</h1>
<h4>Twój kod zamówienia to:</h4>
<h4>@Model.Id</h4>
<h5>Jeżeli jesteś zalogowany, będzie dostępne w zakładce "Moje zamówienia"</h5>
<h4>Jezeli nie jesteś zalogowany, zapisz ten kod!</h4>
Możesz wyszukać zamówienie za pomocą kodu w zakładce "Wyszukaj zamówienie"