@model IEnumerable<PWSWv3.Models.Ticket>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"><b>Nazwa</b></th>
            <th scope="col"><b>Od</b></th>
            <th scope="col"><b>Akcje</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>
                    @i.Name
                </td>
                <td>
                    @i.User.UserName
                </td>
                <td>
                    @if (i.isClosed)
                    {
                        <span class="badge badge-pill badge-info">Zamknięte</span>
                    }
                    else
                    {
                        @Html.ActionLink("Zamknij", "CloseTicket", new { id = i.Id }) <a> | </a>
                        @Html.ActionLink("Odpowiedz", "AnswerTicket", new { id = i.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>